@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply dark:bg-[#0D1117] dark:text-white bg-white text-black;
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #64748b; /* slate-500 */
    border-radius: 999px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #64748b transparent;
  }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.4); /* slate-400 */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.7);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(148,163,184,.5) transparent;
}

